In [1]:
import numpy as np
import pandas as pd

In [43]:
train = pd.read_csv('myntra_train_dataset.csv')

In [44]:
train.head()

,Brand,Category,Gender,Color,Link_to_the_image,Sub_category
0,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Graphic
1,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Graphic
2,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Biker
3,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Graphic
4,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Graphic

In [2]:
# Get the filename from the links
def get_filename(string):
    parts = str(string).split('/')
    if len(parts) > 0:
        return parts[-1]
    else:
        return ' '

In [46]:
# Create a filename column for each file
train['filename'] = train['Link_to_the_image'].apply(get_filename)

In [47]:
len(train)

70000

In [48]:
names = set(train['filename'])

In [49]:
len(names)

68694

In [50]:
train.head()

,Brand,Category,Gender,Color,Link_to_the_image,Sub_category,filename
0,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Graphic,11501068910736-Roadster-Men-Black-Printed-Roun...
1,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Graphic,11501754749483-Roadster-Men-Black-Printed-Roun...
2,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Biker,11504765958740-Roadster-Men-Black-Printed-Henl...
3,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Graphic,11501067533832-Roadster-Men-Black-Printed-Roun...
4,Roadster,Tshirts,Men,Black,http://myntra.myntassets.com/assets/images/182...,Graphic,11501067504556-Roadster-Men-Black-Printed-Roun...

In [51]:
train['filename'] = train['filename'].fillna('')

In [55]:
train.to_csv('myntra_train_dataset_with_fnames.csv', index=False, na_rep='')

In [59]:
not_nan_data = train[train['filename'] != 'nan']

In [60]:
len(set(not_nan_data['filename']))

68693

## Small Experiment to determine the downloading and saving of the images on the disk

In [62]:
from urllib import request

In [63]:
response = request.urlopen('http://myntra.myntassets.com/assets/images/1704301/2017/4/7/11491552192251-Roadster-Men-Black-Colourblocked-Polo-Collar-T-Shirt-5531491552191967-1.jpg')

In [64]:
image = response.read()

In [66]:
with open('temp.jpg', 'wb') as img_file:
    img_file.write(image)

In [3]:
test = pd.read_csv('Submission_online.csv')
test['filename'] = test['Link_to_the_image'].apply(get_filename)

In [4]:
test.head()

,Brand,Category,Gender,Color,Link_to_the_image,Sub_category,filename
0,Allen Solly,Tshirts,Men,Red,http://myntra.myntassets.com/assets/images/182...,NaN,11490680940727-Allen-Solly-Men-Red-Solid-Round...
1,Celio,Tshirts,Men,Yellow,http://myntra.myntassets.com/assets/images/109...,NaN,11475223023888-Celio-Men-Yellow-Solid-V-Neck-T...
2,CULT FICTION,Tshirts,Men,Rust,http://myntra.myntassets.com/assets/images/159...,NaN,11480419683787-CULT-FICTION-Men-Rust-Solid-Rou...
3,Antigravity,Tshirts,Women,Blue,http://myntra.myntassets.com/assets/images/185...,NaN,11493204669821-Antigravity-Women-Blue-Printed-...
4,Being Human,Tshirts,Men,Charcoal,http://myntra.myntassets.com/assets/images/100...,NaN,11468221198445-Being-Human-Clothing-Charcoal-G...

In [5]:
test.to_csv('Submission_online_fnames.csv', index=False)